<p>
    <a data-role="button" id="TrichiasisSurgery" class="btn btn-primary btn-lg" href="#new/result/Trichiasis%20Surgery">{{{polyglot "trichiasisSurgery" }}}</a> &nbsp;
    <a data-role="button" id="PostOperativeEpilation" class="btn btn-primary btn-lg">{{{polyglot "PostOperativeEpilation" }}}</a> &nbsp;
    <a data-role="button" id="PostOperativeFollowup" class="btn btn-primary btn-lg" href="#new/result/Post-Operative%20Followup">{{{polyglot "postOperativeFollowupAbbrev" }}}</a>
    <a data-role="button" id="PostOperativeFollowup_1day" class="btn btn-primary btn-lg" href="#new/result/PostOperativeFollowup_1day">{{{polyglot "postOperativeFollowup_1day" }}}</a>
    <a data-role="button" id="PostOperativeFollowup_7_14_days" class="btn btn-primary btn-lg" href="#new/result/PostOperativeFollowup_7_14_days">{{{polyglot "postOperativeFollowup_7_14_days" }}}</a>
    <a data-role="button" id="PostOperativeFollowup_3_6_months" class="btn btn-primary btn-lg" href="#new/result/PostOperativeFollowup_3_6_months">{{{polyglot "postOperativeFollowup_3_6_months" }}}</a>
</p>
<table id="records">
    <thead><tr>
        <th>{{{polyglot "Question" }}}</th>
        <!--<th>{{{polyglot "User" }}}</th>-->
        <th>{{{polyglot "dateModified" }}}</th>
    </tr></thead>
    <tbody></tbody>
</table>
