{{{polyglot "SelectFormDescription" }}}
<div class="form-group">
  <select id="formDropdown" class="form-control">
      <option value=""> -- {{{polyglot "SelectOne" }}} -- </option>
      <option value="TrichiasisSurgery">{{{polyglot "trichiasisSurgery" }}}</option>
      <option value="PostOperativeEpilation">{{{polyglot "PostOperativeEpilationAbbrev" }}}</option>
      <option value="PostOperativeFollowup_1day" >{{{polyglot "postOperativeFollowup_1day" }}}</option>
      <option value="PostOperativeFollowup_7_14_days">{{{polyglot "postOperativeFollowup_7_14_days" }}}</option>
      <option value="PostOperativeFollowup_3_6_months">{{{polyglot "postOperativeFollowup_3_6_months" }}}</option>
  </select>
</div>
<table id="records">
    <thead><tr>
        <th>{{{polyglot "Question" }}}</th>
        <!--<th>{{{polyglot "User" }}}</th>-->
        <th>{{{polyglot "dateModified" }}}</th>
    </tr></thead>
    <tbody></tbody>
</table>
