<h2>{{{polyglot "Instructions" }}}</h2>
<p><i>{{{polyglot "clientInstructions" }}}</i>
    {{{polyglot "clientText" }}}<p>
    <p>
    <strong>{{{polyglot "consentQuestion" }}}</strong>
    </p>
<h3>{{{polyglot "consentProceed" }}}</h3>
<p>{{{polyglot "scanInstructions" }}}</p>
<p>{{{polyglot "scanFingerInstructions" }}}</p>
<p>
    <label for="Finger">{{{polyglot "Finger" }}}</label>
    <select id="Finger" name="Finger">
        <option value="0">Null</option>
        <option value="6">{{{polyglot "L1" }}}</option>
        <option value="7">{{{polyglot "L2" }}}</option>
        <option value="8">{{{polyglot "L3" }}}</option>
        <option value="9">{{{polyglot "L4" }}}</option>
        <option value="10">{{{polyglot "L5" }}}</option>
        <option selected="selected" value="1">{{{polyglot "R1" }}}</option>
        <option value="2">{{{polyglot "R2" }}}</option>
        <option value="3">{{{polyglot "R3" }}}</option>
        <option value="4">{{{polyglot "R4" }}}</option>
        <option value="5">{{{polyglot "R5" }}}</option>
    </select>
    <a data-role="button" id="identifyIndividual" class="btn btn-primary btn-lg ladda-button" data-style="expand-right"><span class="ladda-label">Scan</span></a>
    <div id="uploadFailed">
        <p id="uploadFailedMessage"></p>
        <a data-role="button" id="continueAfterFail" class="btn btn-primary btn-lg ladda-button" data-style="expand-right"><span class="ladda-label">{{{polyglot "Continue" }}}</span></a>
    </div>
</p>

<div id="message"></div>

<p>{{{polyglot "searchByIdDOBGender" }}}</p>

<h3>{{{polyglot "searchById" }}}</h3>

<div class="form-inline">
<div class="form-group">
            <label for="id">ID</label>
            <input type="text" id="id"/>
        </div>
<div class="form-group">
            <a data-role='button' class='btn btn-primary btn-lg' id='searchByID'>{{{polyglot "search" }}}</a>
        </div>
</div>
<div id="idResults"></div>

<h3>{{{polyglot "searchByGender" }}}</h3>

<div class="form-inline">
<div class="form-group">
            <label for="dob">{{{polyglot "DOB" }}}</label>
            <input type="date" class="form-control" name="DOB" id="dob" value="" placeholder="{{{polyglot "DOB" }}}">
        </div>
<div class="form-group">
            <label for="Gender">{{{polyglot "Gender" }}}</label>
            <select name="Gender" id="Gender">
                <option value=''> -- {{{polyglot "SelectOne" }}} -- </option>
                <option name="Gender" value="Male">{{{polyglot "Male" }}}</option>
                <option name="Gender" value="Female">{{{polyglot "Female" }}}</option>
            </select>
        </div>
<div class="form-group">
            <a data-role='button' class='btn btn-primary btn-lg' id='searchByDOB'>{{{polyglot "search" }}}</a>
        </div>
</div>
<div id="dobResults"></div>
<p>{{{polyglot "scanSendLogs" }}}</p>
<p>
    <a data-role='button' class='btn btn-primary btn-lg' id='verifySendLogs'>{{{polyglot "sendLogs" }}}</a>
</p>

<div id="progress"></div>
