<h2>{{{polyglot "Instructions" }}}</h2>
<p><i>{{{polyglot "clientInstructions" }}}</i>
    {{{polyglot "clientText" }}}<p>
    <p>
    <strong>{{{polyglot "consentQuestion" }}}</strong>
    </p>
<h3>{{{polyglot "consentProceed" }}}</h3>
<p>{{{polyglot "scanInstructions" }}}</p>
<p>{{{polyglot "scanFingerInstructions" }}}</p>
<p>
    <label for="Finger">{{{polyglot "Finger" }}}</label>
    <select id="Finger" name="Finger">
        <option value="0">Null</option>
        <option value="6">{{{polyglot "L1" }}}</option>
        <option value="7">{{{polyglot "L2" }}}</option>
        <option value="8">{{{polyglot "L3" }}}</option>
        <option value="9">{{{polyglot "L4" }}}</option>
        <option value="10">{{{polyglot "L5" }}}</option>
        <option selected="selected" value="1">{{{polyglot "R1" }}}</option>
        <option value="2">{{{polyglot "R2" }}}</option>
        <option value="3">{{{polyglot "R3" }}}</option>
        <option value="4">{{{polyglot "R4" }}}</option>
        <option value="5">{{{polyglot "R5" }}}</option>
    </select>
    <a data-role="button" id="identifyIndividual" class="btn btn-primary btn-lg ladda-button" data-style="expand-right"><span class="ladda-label">Scan</span></a>
    <div id="uploadFailed">
        <p id="uploadFailedMessage"></p>
        <a data-role="button" id="continueAfterFail" class="btn btn-primary btn-lg ladda-button" data-style="expand-right"><span class="ladda-label">{{{polyglot "Continue" }}}</span></a>
    </div>
</p>

<div id="message"></div>

<p>{{{polyglot "scanSendLogs" }}}</p>
<p>
    <a data-role='button' class='btn btn-primary btn-lg' id='verifySendLogs'>{{{polyglot "sendLogs" }}}</a>
</p>

<div id="progress"></div>
