<!--<report-form></report-form>-->
<h1>{{{polyglot "newReport" }}}</h1>

<div role="heading">
    <legend>{{{polyglot "ClickFormName" }}}</legend>
</div>

<p>
    <a data-role="button" id="TrichiasisSurgery" class="btn btn-primary btn-lg">{{{polyglot "trichiasisSurgery" }}}</a><br/>
</p>
<p>
    <a data-role="button" id="PostOperativeEpilation" class="btn btn-primary btn-lg">{{{polyglot "PostOperativeEpilation" }}}</a><br/>
</p>
<p>
    <a data-role="button" id="PostOperativeFollowup" class="btn btn-primary btn-lg">{{{polyglot "postOperativeFollowup" }}}</a>
</p>
<p>
    <a data-role="button" id="PostOperativeFollowup_1day" class="btn btn-primary btn-lg">{{{polyglot "postOperativeFollowup_1day" }}}</a>
</p>
<p>
    <a data-role="button" id="PostOperativeFollowup_7_14_days" class="btn btn-primary btn-lg">{{{polyglot "postOperativeFollowup_7_14_days" }}}</a>
</p>
<p>
    <a data-role="button" id="PostOperativeFollowup_3_6_months" class="btn btn-primary btn-lg">{{{polyglot "postOperativeFollowup_3_6_months" }}}</a>
</p>

