<!--<report-form></report-form>-->
<h1>{{{polyglot "newReport" }}}</h1>

<div role="heading">
    <legend>{{{polyglot "ClickFormName" }}}</legend>
</div>

<table id="kiwiFormTable">
    <tr>
        <th colspan="2">{{{polyglot "Initial Visit" }}}</th>
    </tr>
    <tr>
        <td colspan="2"><a data-role="button" id="TrichiasisSurgery" class="btn btn-primary btn-lg" href="#new/result/Trichiasis%20Surgery">{{{polyglot "trichiasisSurgery" }}}</a></td>
    </tr>
    <tr>
        <th colspan="2">{{{polyglot "Post-Operative Visits" }}}</th>
    </tr>
    <tr>
        <td><a data-role="button" id="PostOperativeFollowup" class="btn btn-primary btn-lg" href="#new/result/Post-Operative%20Followup">{{{polyglot "postOperativeFollowupAbbrev" }}}</a></td>
        <td><a data-role="button" id="PostOperativeEpilation" class="btn btn-primary btn-lg">{{{polyglot "PostOperativeEpilationAbbrev" }}}</a></td>
    </tr>
    <tr>
        <td><a data-role="button" id="PostOperativeFollowup_1day" class="btn btn-primary btn-lg" href="#new/result/PostOperativeFollowup_1day">{{{polyglot "postOperativeFollowup_1day" }}}</a></td>
        <td><a data-role="button" id="PostOperativeFollowup_7_14_days" class="btn btn-primary btn-lg" href="#new/result/PostOperativeFollowup_7_14_days">{{{polyglot "postOperativeFollowup_7_14_days" }}}</a></td>
    </tr>
    <tr>
        <td><a data-role="button" id="PostOperativeFollowup_3_6_months" class="btn btn-primary btn-lg" href="#new/result/PostOperativeFollowup_3_6_months">{{{polyglot "postOperativeFollowup_3_6_months" }}}</a></td>
    </tr>
</table>

