<p>{{{polyglot "verifyAdmin" }}}</p>
<p>
    <label for="Finger">{{{polyglot "Finger" }}}</label>
    <select id="Finger" name="Finger">
        <option value="0">Null</option>
        <option value="6">L1</option>
        <option value="7">L2</option>
        <option value="8">L3</option>
        <option value="9">L4</option>
        <option value="10">L5</option>
        <option selected="selected" value="1">R1</option>
        <option value="2">R2</option>
        <option value="3">R3</option>
        <option value="4">R4</option>
        <option value="5">R5</option>
    </select>
    <a data-role="button" id="identifyAdmin" class="btn btn-primary btn-lg ladda-button" data-style="expand-right"><span class="ladda-label">Scan</span></a>
    <div id="uploadFailed">
        <p id="uploadFailedMessage"></p>
        <a data-role="button" id="continueAfterFail" class="btn btn-primary btn-lg ladda-button" data-style="expand-right"><span class="ladda-label">{{{polyglot "Continue" }}}</span></a>
    </div>

</p>

<div id="message"></div>

<p>{{{polyglot "scanSendLogs" }}}</p>
<p>
    <a data-role='button' class='btn btn-primary btn-lg' id='verifySendLogs'>{{{polyglot "sendLogs" }}}</a>
</p>

<div id="progress"></div>


<!--<style shim-shadowdom>-->
    <!--paper-progress::shadow #progressContainer {-->
        <!--height:200%;-->
        <!--width:200%;-->
    <!--}-->
<!--</style>-->

<!--<paper-progress id="scan-progress"></paper-progress>-->
