<h1>{{{polyglot "idConfirmed" }}}</h1>

<p>{{{polyglot "registered" }}}</p>

<p>
    {{{polyglot "doYouwant" }}}
</p>
<p><a data-role="button" id="registrationLink" class="btn btn-primary btn-lg">{{{polyglot "registerIndividualButton" }}}</a></p>
<!--<p><a data-role="button" id="newReportLink" class="btn btn-primary btn-lg">{{{polyglot "enterNewReport" }}}</a></p>-->

