<h2>{{{polyglot "Instructions" }}}</h2>
<p><i>{{{polyglot "clientInstructions" }}}</i>
    {{{polyglot "clientText" }}}<p>
    <p>
    <strong>{{{polyglot "consentQuestion" }}}</strong>
    </p>
<h3>{{{polyglot "consentProceed" }}}</h3>
<p>{{{polyglot "scanInstructions" }}}</p>
<p>
<a data-role="button" id="identifyIndividual" class="btn btn-primary btn-lg ladda-button" data-style="expand-right"><span class="ladda-label">Scan</span></a>
</p>

<div id="results">
    <p id="message"></p>
</div>
<!--<style shim-shadowdom>-->

    <!--paper-progress::shadow #progressContainer {-->
        <!--height:200%;-->
        <!--width:200%;-->
    <!--}-->

<!--</style>-->

<!--<paper-progress id="scan-progress"></paper-progress>-->
